<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "KeyWord">
    <test name = "Create and login Sina">
       <classes>
           <class name = "testScript.TestSuiteByExcel"></class>
           <class name = "debug.DebugClass"></class>        
       </classes>
    </test>
</suite>